@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400&display=swap');

body {
    font-family: 'Blinker', sans-serif;
    background-color: #333;
    color: #ddd;
}

a:visited {
    color: #bbb;
}